<!--The content below is only a placeholder and can be replaced.-->

  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-item nav-link"  routerLinkActive="active" routerLink="students">Students</a>
        <a class="nav-item nav-link"  routerLinkActive="active" routerLink="evaluations">Courses</a>
        <a class="nav-item nav-link"  routerLinkActive="active" routerLink="assignments">Assignments</a>
        <a class="nav-item nav-link"  routerLinkActive="active" routerLink="statistics">Statistics</a>
    </div>
</nav>

<div class="container">
     <router-outlet></router-outlet>
</div>