<h2 class= "text-center">Search by course</h2>

<div class="row">
        <div class="column">
          <img src="../../../assets/img/math.jpg" alt="Nature" style="width: 200px;height: 200px; margin: 10px"onclick="openImg(this);">
        </div>
        <div class="column">
          <img src="../../../assets/img/physics.jpg" alt="Snow" style="width: 200px;height: 200px;margin: 10px " onclick="openImg(this);">
        </div>
        <div class="column">
          <img src="../../../assets/img/english.jpg" alt="Mountains" style="width: 200px;height: 200px;margin: 10px "onclick="openImg(this);">
        </div>
        <div class="column">
          <img src="../../../assets/img/chemistry.jpg" alt="Lights" style="width: 200px;height: 200px;margin: 10px " onclick="openImg(this);">
        </div>
</div>