/* You can add global styles to this file, and also import other style files */
.ui-g-12 :focus {
    outline: none;
    border: 0;
 }

 .ui-md-6:focus {
    outline: none;
    border: 0;
 }

.ui-lg-4:focus {
    outline: none;
    border: 0;
 }

 .body{


   font-family: 'Source Sans Pro', sans-serif;


 }