
  <!--{{student | json}}
  <p> Evaluations :  {{evaluations | json}}</p>
  <br>
  <p> Assignments : {{assingments | json}} </p>

    <br>
  <p> Evals : {{evaluations | json}} </p>

  <br>
  <p> All : {{all | json}} </p>-->
    <div>
       <!-- <i class="pi pi-user" style="font-size: 3em"></i><h1 style="display:inline-block">{{student.name}} {{student.surname}}</h1>-->
    </div>

    <p-tabView>
    <p-tabPanel *ngIf="student" leftIcon="pi pi-info-circle" header="Details/Edit">
        <div clas="p-grid">
        
        <div class= "p-col-12 p-md-6 p-lg-3" style="display: inline-block;position: relative;vertical-align: top;">
            <img class="" [src]="student.photo" style="width:200px;height:200px;margin:10px" />
        </div>   
        
        <div class= "p-col-12 p-md-6 p-lg-8" style="display: inline-block">
 
          <form (ngSubmit)="sendToServer()" #myform ="ngForm" ngForm>
                <!--Name-->
                <div class="form-group text-left">
                    <label for="studentName">Student's name</label>
                    <input  #studentname = "ngModel" required maxlength="50" pattern="[A-Z][a-z]{1,49}" type="text" name="studentName" id="studentName" 
                          class="form-control"  [(ngModel)]="student.name" 
                          placeholder="Student's name">
                          <small *ngIf="studentname.errors?.required" class= "text-danger"> A name must be provided</small>
                          <small *ngIf="studentname.errors?.pattern" class= "text-danger"> A name must start with an uppercase letter</small>
                          <small *ngIf="studentname.errors?.maxlength" class= "text-danger"> A name must have a maximum of 50 letters</small>
                </div>
                <!--Surname-->
                <div class="form-group text-left">
                    <label for="modelcar">Surname</label>
                    <input type="text" name="modelcar" id="modelcar" 
                              [(ngModel)]="student.surname"
                              class="form-control" placeholder="Car model">
                </div>
                <!--Class Name-->
                <div class="form-group  text-left">
                    <label for="className">Class name</label>
                    <input type="text" name="className" id="className" 
                            [(ngModel)]="student.classname"
                            class="form-control" placeholder="Class name">
                </div>
  
                <div class="form-group  text-left">
                  <input class="btn btn-primary" type="submit" value="Validate">
                </div>
              </form>
          </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Grades" leftIcon="pi pi-list">      
        <div>
            <h2 style="display: block;">Grades </h2>
            <p-dialog header="Add grade for" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '500px'}" [minY]="70" 
            [maximizable]="true" [baseZIndex]="10000">
            <span><table class="table">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Coef</th>
                        <th>Prof</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table></span>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Save"></button>
                <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
            </p-footer>
    </p-dialog>
            <button type="button" pButton icon="fa fa-plus" (click)="showDialog()" label="Add"></button>
        </div>        

        <hr style="height: 10px"/>
        <div *ngIf="evaluations && evaluations.length > 0; else noevaluation " class="">
            <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                        <tr>
                          <th>Grade</th>
                          <th>Coef</th>
                          <th>Date</th>
                          <th>Note</th>
                          <th>Teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr routerLink="/evaluations/{{e.assignment.id}}"
                            *ngFor="let e of all">
                          <td>{{e.evaluation.grade}}</td>
                          <td>{{e.evaluation.coef}}</td>
                          <td>{{e.evaluation.date | date:'medium'}}</td>
                          <td>{{e.evaluation.notes}}</td>
                           <td>Mr.(s) {{e.assignment.teachersurname}}</td>
                          <!--<td><i routerLink="/car/{{c.id}}/edit" class="fa fa-pencil" aria-hidden="true"></i></td>-->
                        </tr>
                      </tbody>
              </table>
             
          </div> 
          <ng-template #noevaluation><b>No evaluation found</b></ng-template>
    </p-tabPanel>
    <p-tabPanel  leftIcon="pi pi-chart-bar" header="Statistics" >
        <div *ngIf="evaluations && evaluations.length > 0; else noevaluation ">
            <p-chart type="horizontalBar" [data]="data" [options]="options"></p-chart>
            <p-dialog header="Title" [(visible)]="display">
                    Content
                </p-dialog>
            <button pButton pButton (click)="showDialog()" type="button" label="Regenerate" class=""></button>
        </div>
        <ng-template #noevaluation><b>No evaluation found</b></ng-template>
      </p-tabPanel>

</p-tabView>